$offcanvas-close-size: 100px;

$offcanvas-horizontal-width: calc(100vw - $offcanvas-close-size);
$offcanvas-vertical-height:  calc(100vh - $offcanvas-close-size);

@import "~bootstrap/scss/bootstrap";
